<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion_de_salle_de_sport"
            connectionString="CQhCGBucYtXbTI95TOkMFcvE+OnqMBQ/8DTXj4kNVw9dYBJj0XpT7F5COyeaQzd6gEgkM87p2+NstrY3MUPJpW5jJadsaVGrUfpB8NSAhZNBp9rzyDZvjNs4julrxyyaWnoCKV3mqbrd7jMZ240sxWjN3xeGVgAA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>