<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion_de_salle_de_sport"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=gestion_salle_sport;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>